<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>tag:solasistim.net,2020-09-23:/politics_live.atom</id>
  <title>[% pod_title %]</title>
  <updated>2020-09-23T12:00:00Z</updated>
  <author>
    <name>David Banks</name>
  </author>
  <link href="http://solasistim.net/" />
  <link rel="self" href="[% self_link %]" />
  [% FOREACH episode = episodes %]
  <entry>
    <id>tag:solasistim.net,2018-01-10:[% episode.file %]</id>
    <title>[% episode.file %]</title>
    <updated>[% episode.updated %]</updated>
    <link href="http://solasistim.net/politics_live/1" />
    <summary>This is a fake episode summary.</summary>
    <link rel="enclosure"
          type="[% episode.mime_type %]"
          title="MP4"
          href="[% episode.episode_url | xml %]"
          length="[% episode.length %]" />
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        <h1>Show Notes</h1>
        <p>Some text goes here.</p>
      </div>
    </content>
  </entry>
  [% END %]
</feed>
